div#area {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: rgb(0, 118, 113);
    color: white;
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    cursor: pointer;
}