body {
    font-family: Arial, Helvetica, sans-serif;
    ;
}

h1 {
    font-size: 3em;
}

#bt1{
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
#bt2{
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
#bt3{
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
